<head>
    <script src="public/js/jquery-1.11.1.min.js"></script>
    <script src="public/js/md5.js"></script>
    <link href="public/css/global.css" rel="stylesheet">

    <link href="view/login/styles.css" rel="stylesheet">
    <script src="view/login/index.js"></script>
</head>
<div id="login">
    <div class='form'>
        <label class="title labelLogin">Login</label>
    </div>
    <div class='form'>
        <input class='input'placeholder="Usuario" id="usuarioLogin" name="usuarioLogin" type="text">
    </div>
    <div class='form'>
        <input class='input'placeholder="Senha" id="senhaLogin" name="senhaLogin" type="password">
    </div>
    <div class='form'>
        <input class='button' type="button" onclick="login()" value="Entrar">
    </div>
    <div class='form'>
        <label class="message_alert" id="messageAlert"></label>
    </div>
</div>
<script src="view/login/index.js"></script>