#frente, #verso{
    margin:auto;
    border: 10px solid green;
    height: 480px;
    width: 854px;
    background-image: url('../../public/img/certificado_atena.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 854px 480px;
    background-color: white;
}

#conteudo{
    border: 10px solid black;
    height: 460px;
    width: 834px;
}

#corpo{
    font-size: 15px;
    text-align: justify;
    margin: 20px;
}

#assinatura-cursinho{
    width: 400px;
    margin-top: 45px;
}

#carga-horaria {
    border-collapse: collapse;
    width: 99%;
    margin-top: 20px;
}

#carga-horaria td {
    font-size: 20px;
    border: 1px solid black;
}
#carga-horaria th {
    font-size: 20px;
    border: 1px solid black;
}

#AtividadesDesenvolvidas{
    text-align: center;
}

#unespFrente{
    height: 100px;
    float: right;
}

#ibbFrente{
    height: 100px;
    float: left;
}

#unespVerso{
    height: 100px;
    float: right;
    margin-top: 170px;
}

#ibbVerso{
    height: 100px;
    float: left;
    margin-top: 170px;
}

#assinaturaDiscente{
    height: 100px;
    width: 250px;
    border-bottom: solid 2px;
}
#assinaturaDocente{
    height: 100px;
    width: 250px;
    border-bottom: solid 2px;
}

.assinaturas{
    border: none;
    text-align: center;
}

.form-control {
    width: 70%;
}

.horas{
    margin-left: 5px;
}

.tituloCertificado{
    font-family: 'FontAwesome';
}

.discente{
    padding-left: 100px;
}

.docente{
    padding-right: 100px;
}

#detalhes{
    display: none;
}