dialog{
    margin: 100px auto;
    border-radius: 5%;
    padding: 15px;
    width: 25%;
    text-align: center;
    max-height: 50%;
}

dialog input, dialog select{
    width: 80%;
    border: 2px solid;
    border-radius: 5px;
    font-size: 15px;
    margin: 5px;
    padding: 5px;
}

dialog input[type=submit], dialog input[type=button]{
    width: 25%;
    border: 2px solid;
    border-radius: 5px;
    font-size: 15px;
    margin: 5px;
    padding: 5px;
}

dialog input[type=submit]:hover{
    background-color: green;
    color: white;
}

dialog input[type=button]:hover{
    background-color: red;
    color: white;
}

dialog::backdrop {
    background-color: black;
    opacity: 0.5;
}