table{
    margin:auto;
    width: 70%;
}

td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    text-align: center;
}

th{
    font-size: 30px;
    padding: 10px;
}

th:hover{
    background-color: #004fde;
    border-radius: 200px;
    color: #00b3f5;
}

a{
    text-decoration: none;
    color: inherit;
}

.tipos{
    font-size: 30px;
    padding: 10px;
}

.tipos:hover{
    background-color: #004fde;
    border-radius: 200px;
    color: #00b3f5;
}

#certificado{
    /* width 75% 1080
    height 75% 710 */
    width: 810; 
    height: 532.5;
}