<head>
    <script src="https://kit.fontawesome.com/7ca1b2bc88.js" crossorigin="anonymous"></script>
</head>
<div class="grid-item-menu">
    <a href="../home/index.php">
        <img src="../public/img/logo_branco.png" id="logo-gestoredu" href="">
    </a>
    <div class="menu" id="menu">
        <ul id="listMenu">
            <li>
                <a class="itemMenu" href="../aluno/index.php" onclick='menu();'>
                    <em class="fa fa-graduation-cap" aria-hidden="true"></em>&nbsp;Aluno(a)
                </a>
            </li>
            <li>
                <a class="itemMenu" href="../professor/index.php" onclick='menu();'>
                    <em class="fa fa-user" aria-hidden="true"></em>&nbsp;Professor(a)
                </a>
            </li>
            <li>
                <a class="itemMenu" href="../disciplina/index.php" onclick='menu();'>
                    <em class="fa fa-newspaper-o" aria-hidden="true"></em>&nbsp;Disciplina
                </a>
            </li>
            <li>
                <a class="itemMenu" href="../sala/index.php" onclick='menu();'>
                    <em class="fa fa-university" aria-hidden="true"></em>&nbsp;Sala
                </a>
            </li>
            <!-- <li>
                <input type="checkbox" id="menuAluno" class="subMenu"/>
                <label for="menuAluno">
                    <a href="../aluno/criar.php" onclick='menu();'></a>
                    <em class="fa fa-graduation-cap" aria-hidden="true"></em>&nbsp;Aluno(a)
                    <em class="fa fa-plus"></em>
                </label>
                <ul>
                    <li><a href="../aluno/criar.php" onclick='menu();'><em class="fa fa-arrow-right">&nbsp;</em>Criar</a></li>
                    <li><a href="../aluno/editar.php" onclick='menu();'><em class="fa fa-arrow-right">&nbsp;</em>Editar</a></li>
                </ul>
            </li> -->
            <!-- <li>
                <input type="checkbox" id="menuProfessor" class="subMenu"/>
                <label for="menuProfessor">
                    <em class="fa fa-user" aria-hidden="true"></em>&nbsp;Professor(a)
                    <em class="fa fa-plus"></em>
                </label>
                <ul>
                    <li><a href="../professor/criar.php" onclick='menu();'><em class="fa fa-arrow-right">&nbsp;</em>Criar</a></li>
                    <li><a href="../professor/editar.php" onclick='menu();'><em class="fa fa-arrow-right">&nbsp;</em>Editar</a></li>
                </ul>
            </li> -->
            <!-- <li>
                <input type="checkbox" id="menuUsuario" class="subMenu"/>
                <label for="menuUsuario">
                    <em class="fa fa-user-plus" aria-hidden="true"></em>&nbsp;Usuarios
                    <em class="fa fa-plus"></em>
                </label>
                <ul>
                    <li><a href="../usuario/criar.php" onclick='menu();'><em class="fa fa-arrow-right">&nbsp;</em>Criar</a></li>
                    <li><a href="../usuario/editar.php" onclick='menu();'><em class="fa fa-arrow-right">&nbsp;</em>Editar</a></li>
                </ul>
            </li>
            <li>
                <input type="checkbox" id="menuGrupo" class="subMenu"/>
                <label for="menuGrupo">
                    <em class="fa fa-users" aria-hidden="true"></em>&nbsp;Grupos
                    <em class="fa fa-plus"></em>
                </label>
                <ul>
                    <li><a href="../grupo/criar.php" onclick='menu();'><em class="fa fa-arrow-right">&nbsp;</em>Criar</a></li>
                    <li><a href="../grupo/editar.php" onclick='menu();'><em class="fa fa-arrow-right">&nbsp;</em>Editar</a></li>
                </ul>
            </li> -->
            <!-- <li>
                <input type="checkbox" id="menuDisciplina" class="subMenu"/>
                <label for="menuDisciplina">
                    <em class="fa fa-newspaper-o" aria-hidden="true"></em>&nbsp;Disciplina
                    <em class="fa fa-plus"></em>
                </label>
                <ul>
                    <li><a href="../disciplina/criar.php" onclick='menu();'><em class="fa fa-arrow-right">&nbsp;</em>Criar</a></li>
                    <li><a href="../disciplina/editar.php" onclick='menu();'><em class="fa fa-arrow-right">&nbsp;</em>Editar</a></li>
                </ul>
            </li> -->
            <!-- <li>
                <input type="checkbox" id="menuSala" class="subMenu"/>
                <label for="menuSala">
                    <em class="fa fa-university" aria-hidden="true"></em>&nbsp;Sala
                    <em class="fa fa-plus"></em>
                </label>
                <ul>
                    <li><a href="../sala/criar.php" onclick='menu();'><em class="fa fa-arrow-right">&nbsp;</em>Criar</a></li>
                    <li><a href="../sala/editar.php" onclick='menu();'><em class="fa fa-arrow-right">&nbsp;</em>Editar</a></li>
                </ul>
            </li> -->
            <li>
                <input type="checkbox" id="menuPresenca" class="subMenu"/>
                <label for="menuPresenca">
                    <em class="fa fa-calendar" aria-hidden="true"></em>&nbsp;Presença
                    <em class="fa fa-plus"></em>
                </label>
                <ul>
                    <li><a href="../presenca/aluno.php" onclick='menu();'><em class="fa fa-arrow-right">&nbsp;</em>Chamada de Alunos</a></li>
                    <!-- <li><a href="../presenca/chamada.php" onclick='menu();'><em class="fa fa-arrow-right">&nbsp;</em>Chamada Grupo</a></li>
                    <li><a href="../presenca/professor.php" onclick='menu();'><em class="fa fa-arrow-right">&nbsp;</em>Ponto Eletronico Professor</a></li>
                    <li><a href="../presenca/ponto.php" onclick='menu();'><em class="fa fa-arrow-right">&nbsp;</em>Ponto Eletronico</a></li>
                    <li><a href="../presenca/editar.php" onclick='menu();'><em class="fa fa-arrow-right">&nbsp;</em>Editar</a></li> -->
                </ul>
            </li>
            <!-- <li>
                <input type="checkbox" id="menuCertificado" class="subMenu"/>
                <label for="menuCertificado">
                    <em class="fa fa-file-pdf-o" aria-hidden="true"></em>&nbsp;Certificado
                    <em class="fa fa-plus"></em>
                </label>
                <ul>
                    <li><a href="../certificado/gerar.php" onclick='menu();'><em class="fa fa-arrow-right">&nbsp;</em>Gerar</a></li>
                </ul>
            </li> -->
            <li>
                <input type="checkbox" id="menuRelatorio" class="subMenu"/>
                <label for="menuRelatorio">
                    <em class="fa fa-bar-chart" aria-hidden="true"></em>&nbsp;Relatorio
                    <em class="fa fa-plus"></em>
                </label>
                <ul>
                    <!-- <li><a href="../relatorio/gerar.php" onclick='menu();'><em class="fa fa-arrow-right">&nbsp;</em>Gerar</a></li> -->
                    <li><a href="../relatorio/freqaluno.php" onclick='menu();'><em class="fa fa-arrow-right">&nbsp;</em>Frequência de Alunos</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<script>
    function menu(){
        checkMenu = $('#checkMenu').is(':checked');
        if (checkMenu){
            $('#menu').hide();
        }else{
            $('#menu').show();
        }
    }
</script>