<div id="topMenu">
    <img src="../public/img/logo_branco.png" id="logo-gestoredu">
    <a href="http://hubis.com.br/" target="_blank">
        <img src="../public/img/hubis.png" id="logo-hubis">
    </a>
</div>
<div id="barraSuperior">
    <input type="checkbox" id="checkMenu">
    <label for="checkMenu">
        <div id="botaoMenu" onclick="menu()">
            <span class="linha-menu"></span>
            <span class="linha-menu"></span>
            <span class="linha-menu"></span>
        </div> 
    </label>
</div>