table{
    margin:auto;
    width: 70%;
}

td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    text-align: center;
    width: 35%;
}

a{
    text-decoration: none;
    color: inherit;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.input_text{
    width: 80px;
}

.input_text2{
    width: 200px;
}